
div {
  overflow-x: clip; /* Hide scrollbars */
}

html {
  overflow-x: clip; /* Hide scrollbars */
}
body {
  overflow-x: clip; /* Hide scrollbars */
}
* {
  overflow-x: clip; /* Hide scrollbars */
}